In [ ]:
#importing dataset
import pandas as pd
import os
import numpy as np

In [ ]:
#location of csv file on my machine
df = pd.read_csv("C:\\Users\\Dalit\\OneDrive\\Desktop\\Python Bootcamp\\Python Assignment 1\\Pybank\\budget_data.csv")

In [ ]:
#reading csv file dataset
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [ ]:
#calculating total number of months in dataset
print (df['Date'].count())

86

In [ ]:
#calculating net total of profits and losses
print(df['Profit/Losses'].sum())

22564198

In [ ]:
# calculating average changes
print (df["Profit/Losses"].diff())

0           NaN
1    -1443517.0
2      631156.0
3    -1004755.0
4     1581126.0
        ...
81   -1627245.0
82     616795.0
83     628522.0
84      90895.0
85    -224669.0
Name: Profit/Losses, Length: 86, dtype: float64

In [ ]:
print (df["Profit/Losses"].max())

1141840

In [ ]:
print (df["Profit/Losses"].min())

-1194133

In [ ]:
print (df["Profit/Losses"].mean())

262374.3953488372